<p>This tool was created by Harry Scutt as part of the COM3610 Dissertation Project at The University of Sheffield.</p>

<p>
This website allows you to visualise a Software Product Line by creating a feature model, with a drag and drop diagram builder powered by
<%= link_to "GoJS", "https://gojs.net/latest/index.html"%>, and run analysis on it.
</p>

Select <%= link_to "New", new_fmodel_path %> in the header to create a new feature model.
</p>