<p>This tool was created by Harry Scutt as part of the COM3610 Dissertation Project at The University of Sheffield, titled "Development of an Online Tool for the Creation and Analysis of Feature Models for Software Product Lines", supervised by Dr José Miguel Rojas.</p>

<p>Software Product Lines are a powerful and growing concept in software development, enabling developers to formally define the scope of a product family, reducing development costs at-scale. Product lines can be visually represented using a Feature Model, enabling both clients and developers to understand the relationships between various software modules in a given system.</p>

<p>The purpose of this website is to provide an easy-to-use online tool that enables you to create these feature models for yourself. SPO provides an intuitive drag-and-drop diagram builder powered by <%= link_to "GoJS", "https://gojs.net/latest/index.html", target: :_blank%>. You can then run analysis on your product line, such as how many possible configurations exist for your product family.</p>

<p>SPO also aims to make it simple for you to share models with fellow researchers. As a guest, you can browse the website, including current users and public feature models - you can even publish your own. To unlock more features, you can <%= link_to "log in or sign up", new_user_session_path %>, enabling you to privately save your models and come back and edit them later. When your model is compelete, you can choose between making them public, keeping them private, or you can even share them exclusively with your followers.</p>

<p>Select <%= link_to "New", new_fmodel_path %> in the header to create a new feature model, or <%= link_to "View Models", fmodels_path %> to see what SPOs users have already created.</p>