<p>This tool was created by Harry Scutt as part of the COM3610 Dissertation Project at The University of Sheffield, titled "Development of an Online Tool for the Creation and Analysis of Feature Models for Software Product Lines", supervised by Dr José Miguel Rojas.</p>

<p>Software Product Lines are a powerful and growing concept in software development, enabling developers to formally define the scope of a product family, reducing development costs at-scale. Product lines can be visually represented using a Feature Model, enabling both clients and developers to understand the relationships between various software modules in a given system</p>

<p>The purpose of this website is to provide an easy-to-use online tool that enables you to create these feature models for yourself. SPO provides an intuitive drag-and-drop diagram builder powered by <%= link_to "GoJS", "https://gojs.net/latest/index.html", target: :_blank%>. You can then view analysis that has been run on your product line, such as how many possible configurations exist for your product family.</p>

<p>SPO also aims to make it simple for you to share models with fellow researchers. By signing up, you can begin following users by searching for their username. Once following a user, you can view their profile and see models they only share with their followers. After joining, you can also choose to keep feature models private while you continue to work on them.</p>

<p>Select <%= link_to "New", new_fmodel_path %> in the header to create a new feature model, or <%= link_to "View All", fmodels_path %> to view existing Feature Models</p>