<%# < style="color: green"><%= notice %>


<div id="fmodels">
  <% @fmodels.each do |fmodel| %>
    <%= render fmodel %>
    <p>
      <%= link_to "Show this fmodel", fmodel %>
    </p>
  <% end %>
</div>


<%= link_to "New fmodel", new_fmodel_path %>
