:root {
  --white: #F2F3F4;
  --text: #000000;
  --border: #000000;
  --secondary-hover: #5CBD95;
}

.white {
  background-color: var(--white) !important;
}

main {
  height: calc(100vh - 76.8px);
  align-content: center;
}

.centre-box {
  border: solid var(--border) 1px;
  border-radius: 10px;
  min-height: 50vh;
  max-height: 65vh;
}

a {
  color: var(--text) !important;
  text-decoration: none !important;
  font-weight: bold;
}

a:hover, a:focus {
  color: var(--secondary-hover) !important;
}

.header-title {
  font-size: 250%;
  font-weight: 500;
}

.header-title:hover, .header-title:focus {
  color: var(--text) !important;
} 

.bottom-border {
  border-bottom: solid 1px var(--border);
}

.right-border {
  border-right: solid 1px var(--border);  
}

.left-border {
  border-left: solid 1px var(--border);  
}

.instruction-text {
  font-size: small;
}

.sticky-top th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999; /* Ensure the headers stay above other content */
  background-color: var(--white); /* Optional: Set a background color */
}

.restrict-height {
  height: 50vh;
}

.overflow-auto {

  overflow-y: auto;
}

.table {
  max-height: 65vh;
}

.table-border  {
  border: 1px solid !important;
  /* border-collapse: collapse !important; */
}

.table-border th {
  border: 1px solid var(--border) !important;
}

.table-border td {
  border: 1px solid var(--border) !important;
}

.table-border tr {
  border: 1px solid var(--border) !important;
}

.border-dark {
  border-color: var(--border) !important;
}